
*.pyc
.obsidian/app.json
.obsidian/appearance.json
.obsidian/backlink.json
.obsidian/core-plugins.json
.obsidian/workspace.json
src/__pycache__/RuleComponent.cpython-312.pyc
src/__pycache__/RuleClass.cpython-312.pyc
src/test_mainfunction.py
src/test_mainfunction.py
src/Blender_Integration.py
src/test_pythonOCC.py
src/test_ifcopenshell.py
src/test_ifcopenshell.py
tests/__pycache__/test_custom_obb.cpython-314-pytest-9.0.3.pyc
src/__pycache__/Rules.cpython-314.pyc
src/__pycache__/CustomOBB.cpython-314.pyc
__pycache__/__init__.cpython-314.pyc
src/__pycache__/CustomOBB.cpython-314.pyc
src/__pycache__/Rules.cpython-314.pyc
src/constructtest_mainfunction.py
ifcclash_plus/__pycache__/Rules.cpython-314.pyc
ifcclash_plus/__pycache__/Rules.cpython-312.pyc
ifcclash_plus/__pycache__/RuleClass.cpython-312.pyc
ifcclash_plus/__pycache__/__init__.cpython-312.pyc
/ifcclash_plus/__pycache__
ifcclash_plus/__pycache__/Rules.cpython-312.pyc
/tests/__pycache__
/ifcclash_plus/__pycache__
ifcclash_plus/__pycache__/clash_utils.cpython-314.pyc
ifcclash_plus/__pycache__/RuleClass.cpython-314.pyc
ifcclash_plus/__pycache__/Rules.cpython-314.pyc
tests/__pycache__/test_custom_obb.cpython-314.pyc
tests/__pycache__/test_RuleFile.cpython-314.pyc
ifcclash_plus/constructtest_python.py
ifcclash_plus/construct_bigmodel.py
